[Unit]
Description=Beszel Agent
After=network-online.target
Wants=network-online.target

[Service]
Environment=TOKEN=5fa4-7b2781fad8-1ea9-168ea3bf32
Environment=HUB_URL=http://10.10.11.1:8090
Environment="KEY=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID898HJ5VlJ1Pryf99TXCy9Uxp4ot05HOevL7jhehY1+"
ExecStart=/usr/local/bin/beszel-agent
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target